#start{
    width: 40%;
}
#camera{
    width: 400px;
    height: 320px;
    border: 10px solid goldenrod;
}
#logo_img{
    width: 90px;
    border-radius: 100px;
}
#text-box{
    width: 300px;
}
.container{
    background-color: linear-gradiant(red,yellow);
}
h1{
    font-family: fantasy;
    font-style: oblique;
    font-weight: bolder;
}
h4{
    font-family: cursive;
    font-style: italic;
    font-weight: 100;
}
img{
    width: 40%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 aliceblue;
}
hello:hover{
    border-radius:140px;
}